.main {
  background: url('http://i.cdn.turner.com/adultswim/big/img/2016/08/25/meet_morty.png') no-repeat;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 40em;
}
.headerPic {
  position: relative;
  z-index: 2000;
  padding: 1em 0em 0.5em 0em;
}
.headerPic img {
  display: block;
  max-width: 30%;
  margin: 0 auto;
}
@media (min-width: 300px) and (max-width: 800px) {
  .headerPic img {
    max-width: 50%;
  }
}
.vid {
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #40f6f4;
}
@media (min-width: 300px) and (max-width: 800px) {
  .vid {
    max-width: 80%;
  }
}
