
// .show-phone-down  <= 767px
// .show-tablet-down <= 1023px
// .show-tablet-up   >= 768px
// .show-desktop-up  >= 1024px

@media (min-width: 768px) {
    .show-phone-down {
        display: none !important;
    }
}
@media (min-width: 1024px) {
    .show-tablet-down {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .show-tablet-up {
        display: none !important;
    }
}
@media (max-width: 1023px) {
    .show-desktop-up {
        display: none !important;
    }
}

body.homepage-stunt {
    display: flex;
    flex-direction: column;
}

.stunt-content {
    flex: 1 0 auto;
}

.stunt-content .top-ad-wrapper {
    margin: 20px 0;
    text-align: center;
}


.stunt-player {
    max-width: 100%;
    position: relative;
}
.stunt-player:before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}
.stunt-player video {
    position: absolute;
}

.responsive-iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.responsive-iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}