.main {
  background: url('http://i.cdn.turner.com/adultswim/big/img/2016/08/25/billboard_background.png') no-repeat;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 30em;
}
.headerPic {
  position: relative;
  z-index: 2000;
  padding-bottom: 1em;
}
.headerPic img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 300px) and (max-width: 800px) {
  .headerPic img {
    max-width: 50%;
  }
}
.vid {
  max-width: 900px;
  margin: 0 auto;
  border: 2px solid #ff414e;
}
@media (min-width: 300px) and (max-width: 800px) {
  .vid {
    max-width: 80%;
  }
}
